@import "tailwindcss";
@import "../../../../packages/ui/shadcn/src/styles/globals.css";

@source "../../../../packages/ui/shadcn/src/**/*.{js,jsx}";

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-foreground font-semibold tracking-tight;
  }
}

.hide-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

.text-balance {
  text-wrap: balance;
}

.container {
  max-width: 1440px !important;
  padding: 0 48px !important;
  margin: 0 auto !important;
  width: 100% !important;
}
